* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: rgba(32, 205, 32, 0);
}

.contenedor {
  display: flex;

  height: 100vh;

  width: 100%;
}

.principal {
  padding: 25px;

  display: flex;

  flex-direction: column;

  width: 100%;
}

.sidebar {
  display: flex;

  flex-direction: column;

  background: #dcdcdc;

  height: 100vh;

  padding: 20px;

  width: 300px;
}

header {
  width: 100%;
}

header input {
  width: 300px;

  padding: 10px;
}

.container-main {
  display: flex;

  height: 70%;

  width: 100%;
}

.izquierda {
  display: flex;

  flex-direction: column;

  width: 69%;

  border: solid 3px rgba(255, 2, 2, 0);

  height: 100%;
}

.bienvenida {
  height: 20%;
}

.derecha {
  display: flex;

  flex-direction: column;

  width: 30%;

  border: solid 3px rgba(0, 0, 0, 0);

  height: 100%;
}

.container-secondary {
  display: flex;

  border: solid 3px rgba(255, 255, 0, 0);

  justify-content: space-evenly;

  height: 40%;

  gap: 5px;
}

.proximas {
  border: 1px solid rgb(0, 0, 0);

  padding: 8px;

  margin-top: 1%;

  height: 100%;

  width: 50%;
}

.calendario {
  border: 1px solid rgb(0, 0, 0);

  padding: 15px;

  margin-top: 1%;

  height: 100%;

  width: 80%;
}

.sidebar h2 {
}

.sidebar button {
  padding: 12px;

  cursor: pointer;
}

.sidebar hr {
}

.nueva {
}

.tarjetas {
  display: flex;

  justify-content: space-evenly;

  gap: 20px;

  height: 20%;
}

.card {
  width: 30%;

  background: rgb(255, 255, 255);

  border: 1px solid rgb(0, 0, 0);

  padding: 20px;
}

.tareas {
  border: 1px solid rgb(0, 0, 0);

  padding: 15px;

  margin-top: 5%;

  width: 98%;

  height: 60%;
}

.proyectos {
  border: 1px solid rgb(0, 0, 0);

  padding: 4%;

  height: 65%;
}

.prioridades {
  border: 1px solid rgb(0, 0, 0);

  padding: 4%;

  width: 100%;

  height: 35%;
}

table {
  width: 100%;

  border-collapse: collapse;
}

td {
  border-bottom: 1px solid rgb(0, 0, 0);

  padding: 10px;
}
